/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #08233b;
    color: white;
    font-family: "Barlow", sans-serif;
    line-height: 1.6;
  }
  
  /* Container */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Navigation */
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 30px;
    gap: 40px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #00bcd4;
  }
  
  /* Headings */
  h1 {
    font-size: 100px;
  }
  
  h1, h2 {
    margin-bottom: 15px;
  }
  
  section {
    padding: 100px 0;
  }
  /* Welcome Section */
  #welcome {
    text-align: center;
  }

  .name {
    color: #00bcd4;
  }
  
   /* About Section */
    .tech-stack {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 30px;
        gap: 20px;
    }

    .tech-stack-item img {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }


  /* Footer */
  footer {
    text-align: center;
    padding: 40px 0;
    font-size: 14px;
    opacity: 0.6;
  }
  